<section class="footer">
    <div class="subscribe">
      <div class="container">
        <div class="row  mb-50">
          <div class="col-md-4 offset-md-4 text-center">
            <label for="email" class="envelope"> Subscribe to our Job Seeker Mailing List</label>
            <div class="input-group">
              <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address">
              <div class="input-group-btn">
                <button class="btn envelope" type="submit">
                  <i class="fa fa-envelope"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="social container">
    <div class="social-wrapper">
      <div class="row">
        <div class="col-md-6 details">
          <p><i class="fa fa-envelope"></i><b> &nbsp; helloWorld.com</b></p>
          <p>Copyright <i class="fa fa-copyright"></i> 
            {{currentYear}}
            <span> HelloWorld Compay. </span>
            <span><b>Terms & Policies</b></span>
          </p>
        </div>
        <div class="col-md-6 pt-4 social-icons text-right">
          <span>
            <a href="#" class="fa fa-facebook"></a>
          </span>
          <span>
            <a href="#" class="fa fa-twitter"></a>
          </span>
          <span>
            <a href="#" class="fa fa-instagram"></a>
          </span>
          <span>
            <a href="#" class="fa fa-git"></a>
          </span>
          <span>
            <a href="#" class="fa fa-google-plus"></a>
          </span>
          <span>
            <a href="#" class="fa fa-linkedin-square"></a>
          </span>
        </div>
      </div>
    </div>
  </section>
  