

/* Main Nav - ends*/
.footer {
    background: #000;
  }
  
  .footer::after {
    content: '';
    background: url(../../assets/images/ribbon.png);
    display: block;
    padding: 1px;
    height: 5px;
  }
  
  .footer .input-group {
    border: 2px solid deepskyblue;
    color: #fff;
  }
  
  .footer input,
  .envelope {
    background: transparent;
    border-color: transparent;
  }
  
  .envelope {
    color: #fff;
  }
  
  .subscribe {
    padding: 10% 0;
  }
  
  .social {
    color: #000;
  }
  
  .social-wrapper {
    padding: 2% 0;
  }
  
  .social-wrapper .col:last-child {
    text-align: right;
  }
  
  .social-icons span a {
    margin-right: 1em;
    height: 2em;
    width: 2em;
  }
  
  .social-icons span a:hover {
    text-decoration: none;
  }
  
  .details {
    color: #444;
  }
  
  .fa-envelope {
    color: deepskyblue;
  }
  