<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarToggle">
      <div class="logo">
        <img src="../../assets/images/logo.png" alt="Logo" style="width: 70%">
      </div>
      <div class="menu-items">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 main-nav">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/home" (click)="redirectHome()" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link btn" (click)="redirectProfile()" >Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Employers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  