<section class="header-wrapper">
    <!-- container - starts -->
    <div class="container pt-5">
      <!-- nav starts -->
      <div class="row">
        <div class="col ">
            <app-navigation-bar></app-navigation-bar>
        </div>
      </div>
  
  
    </div>
  </section>
  
  <section class="profile-wrapper">
    <div class="container pt-4">
  
      <div class="row">
        <div class="col-md-12 mx-auto">
          <h3 class="mb-0 my-2">Profile</h3>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-5 col-sm-5">
              <div class="card-body text-center">
                <img class="img-fluid avatar-img" *ngIf="userDetails.image" [src]="userDetails.image" alt="{{userDetails.image}}" title="{{userDetails.image}}">
              </div>
              <div class="card-body text-center">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-20 ">
                      <label id="file" class="btn btn-warning"> Edit Photo
                        <input type="file" class="form-control" accept="image/*" (change)="onFileSelect($event)" size="60">
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-20 ">
                      <button type="submit" class="btn btn-warning" (click)="openModal()">Edit Profile</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-7">
              <div class="card-body profile-desc">
                <p>
                  I'm {{userDetails.firstName}} {{userDetails.lastName}} and I am above {{userDetails.age}} years of age.
                  <br> You can send your emails to
                  <a href='mailto:{{userDetails.email}}'>{{userDetails.email}}</a>.
                  I live in state {{userDetails.state}} of {{userDetails.country}}.
                  I like to play
                  <span *ngFor='let hobby of userDetails.tag; let first = first; let last = last; '>
                    <span *ngIf="first">{{ hobby}} </span>
                    <span *ngIf="!first && !last"> , {{ hobby}} </span>
                    <span *ngIf="last"> and {{ hobby}}</span>
                  </span>.
                  <span *ngIf="userDetails.newsLetter">
                    I would also love to recieve newsletters.
                  </span>
                  <span *ngIf="!userDetails.newsLetter">
                    At this moment I am not ready to recieve newsletters.
                  </span>
                  Please reach out to me on my phone number.
  
  
                </p>
                <div class="row">
                  <div class="col-md-3">
                    <div class="mb-20 ">
                      <button type="submit" class="btn btn-success" routerLink="/home">I Agree</button>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
  
      <hr>
    </div>
  
  </section>

  