.header-wrapper {
    background: #2a93bd;
  }
  
  .profile-wrapper {
    color: #000;
  }
  
  .profile-desc {
    font-size: 1em;
  }
  
  .profile-wrapper h3 {
    color: deepskyblue;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .avatar-img {
    height: 225px;
    width: 225px;
  }
  .sizeError {
    color: red !important;
    position: absolute !important;
    font: 300 12px "Muli", sans-serif !important;
    margin: 0px 0px 3px 20px;
  }